/**
* {{ .Model.Description | escapeComment }}
*/
export interface {{ .ModelName }} {
{{- range .Model.Properties }}
/**
* {{ .Description | escapeComment }}
*/
{{ .Name }}{{ if not .IsRequired }}?{{ end }}: {{ .Type }};
{{- end }}
}

/**
* Create a new {{ .ModelName }} with default values
*/
export function create{{ .ModelName }}(data?: Partial<{{ .ModelName }}>): {{ .ModelName }} {
  return {
{{- range .Model.Properties }}
    {{ .Name }}: data?.{{ .Name }} !== undefined ? data.{{ .Name }} : {{ .DefaultValue }},
{{- end }}
  };
}

{{- if gt (len .Model.Imports) 0 }}
// Required imports
{{- range $import, $_ := .Model.Imports }}
import { {{ $import }}, create{{ $import }} } from './{{ $import }}';
{{- end }}
{{- end }}
